<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@(ViewBag.Title + " - AtrAlbum")</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Content/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="~/Content/style.css" rel="stylesheet"/>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/color/default.css" rel="stylesheet"/>

    <link href="~/Content/DropDown.css" rel="stylesheet" />
    <link href="~/Content/wrapper-dropdown.css" rel="stylesheet" />
    @RenderSection("mapcss", false)

    <link href="~/Content/Popup.css" rel="stylesheet" />
    <link href="~/Content/drag_drop.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="The description of my page" />
    @RenderSection("authstyle",false)
    @RenderSection("uploadimages", false)
</head>
<body>
    <div class="container ">
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon-menu"><span id="gl-menu" class="glyphicon glyphicon-th-list fa-3x" aria-hidden="true"></span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">

                            @*<li class="gn-search-item">
                <input placeholder="Search" type="search" class="gn-search">
                <a class="gn-icon gn-icon-search"><span>Search</span></a>
            </li>*@
                            <li>
                                <a href="@Url.Action("Index", "Home")">
                                    <div class="gn-item">
                                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                        <p>
                                            Главная страница
                                        </p>
                                    </div>
                                </a>
                                <a href="@Url.Action("Search", "Home")">
                                    <div class="gn-item">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        <p>
                                            Поиск
                                        </p>
                                    </div>
                                </a>
                                <a href="@Url.Action("Index", "Maps")">
                                    <div class="gn-item">
                                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                                        <p>
                                            Статистика
                                        </p>
                                    </div>
                                </a>
                                <a href="@Url.Action("QuestionsPage", "Questions")">
                                    <div class="gn-item">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                        <p>
                                            Вопросы
                                        </p>
                                    </div>
                                </a>
                                @if (User.IsInRole("Admin"))
                                {
                                        <a href="@Url.Action("UserAdministration", "Administration")">
                                            <div class="gn-item">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                <p>
                                                    Администрирование
                                                </p>
                                            </div>
                                        </a>
                                }
                            </li>
                            @*<li>
                <a href="#t"> <span class="gn-icon gn-icon-download"></span>About</a>
            </li>
            <li><a href="#" class="gn-icon gn-icon-cog">Service</a></li>*@


                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>



            <li class="right">
                <div id="dd" class="wrapper-dropdown-5" tabindex="1">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <span id="user-name">@User.Identity.Name <i  class="glyphicon glyphicon-chevron-down" ></i></span>
                        }
                        else
                        {
                            <span id="user-name" >Гость <i class="glyphicon glyphicon-chevron-down"></i></span>
                        }
                    }

                    <ul class="dropdown">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li><a href=@Url.Action("UserProfile", "Users")><i class="glyphicon glyphicon-user"></i>Профиль</a></li>
                                <li><a href=@Url.Action("Settings", "Users")><i class="glyphicon glyphicon-cog"></i>Настройки</a></li>
                                <li><a href=@Url.Action("Logout", "Auth")><i class="glyphicon glyphicon-log-out"></i>Выйти</a></li>
                            }
                            else
                            {
                                <li><a href=@Url.Action("Login", "Auth")><i class="glyphicon glyphicon-log-in"></i>Войти</a></li>
                                <li><a href=@Url.Action("Register", "Register")><i class="glyphicon glyphicon-user"></i>Регистрация</a></li>
                            }
                        }

                    </ul>
                </div>
            </li>
            <!--<li class="hidden-xs">
            <ul class="company-social">
                <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </li>-->
        </ul>
    </div>
    <br />
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
   

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/gnmenu.js"></script>
    <script src="~/Scripts/jquery.scrollTo.js"></script>
    <script src="~/Scripts/nivo-lightbox.min.js"></script>
    <script src="~/Scripts/stellar.js"></script>
    
    <script src="~/Scripts/custom.js"></script>
    
    <script src="~/Scripts/dropdown_menu.js"></script>

    <script src="~/Scripts/wrapper_dropdown.js"></script>
    <script src="~/Scripts/Popup.js"></script>


    
    @RenderSection("scripts",false)
    @RenderSection("searchscript", false)
    @RenderSection("mapscripts", false)
    @RenderSection("uploadscript", false)
    
</body>
</html>