@model IEnumerable<ArtAlbum.UI.Web.Models.CommentVM>

@functions {

    string GetUserImageId(Guid authorId)
    {
        return ArtAlbum.UI.Web.Models.UserVM.GetUserById(authorId).Nickname;
    }

    Guid GetUserIdByNickName(string nickname)
    {
        return ArtAlbum.UI.Web.Models.UserVM.GetUserIdByNickname(nickname);
    }
    string GetUserNickNameById(Guid id)
    {
        return ArtAlbum.UI.Web.Models.UserVM.GetUserById(id).Nickname;
    }
}

<div class="comments">
    <ul>
        @foreach (var comment in Model)
        {
            <li  id="@comment.Id" >
                <div class="comment">
                    <div class="reply_image">
                        <a href="@Url.Action("GetUser","Users" ,new {nickname =GetUserNickNameById(comment.AuthorId) })">
                            <img src="@Url.Action("GetAvatar", "Users", new { userId = comment.AuthorId })" class="reply_img">
                        </a>
                        
                    </div>

                    <div class="content_commetn">
                        <div class="reply_author">
                            <a class="author" href="@Url.Action("GetUser","Users" ,new {nickname =GetUserNickNameById(comment.AuthorId) })" >@GetUserImageId(@comment.AuthorId)</a>
                            <span id="Nicknameicon" class="glyphicon glyphicon-ok-circle " aria-hidden="true"></span>
                        </div>
                        <div class="reply_text">

                            <div class="wall_reply_text">@comment.Data  </div>                          
                        </div>
                    </div>
                    <div class="date-of-creating">@comment.DateOfCreating</div>

                    
                </div>
                @if (User.IsInRole("Admin") || comment.AuthorId == GetUserIdByNickName(User.Identity.Name))
                {
                    <div class="delete-comment">
                        <a ><span class="glyphicon glyphicon-remove" style="color:red"></span></a>
                    </div>
                }
                <hr />
            </li>

        }
       
       

    </ul>
</div>



@if (User.Identity.IsAuthenticated)
{
    <div class="addcomment">
        <form action="handler.php">
            <p><b>Введите ваш Комментарий:</b></p>
            <input style="width: 250px;height: 35px; display:initial" type="text" class="commentText" name="searchQuery" />
            <input class="btn btn-default submit" style="margin-top: -2px;" type="submit" id="@(ViewBag.ImageId + "submit")" value="Готово" />
        </form>
    </div>
}

