@model IEnumerable<ArtAlbum.UI.Web.Models.ImageVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    System.Int32 x;
    x = 0;
}

@*<h2>Изображения</h2>
    @Html.ActionLink("Register", "Register", "Register")*@




<div class="container">

    <div class="row" style="margin-top:100px;">


        <div id="list_dropdowns" class="col-xs-12  col-md-2">

            <h2 class="Header">Type</h2>

            <div class="dropdown_menu">
                <h3><span>Тип 1</span></h3>
                <ul class="list_item" style="display: none;">
                    <li> <a>Что то про Наруто</a></li>
                    <li>Пункт №2</li>
                    <li>Пункт №3</li>
                    <li>Пункт №4</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Тип 2</span></h3>
                <ul class="list_item" style="display: none;">
                    <li>Пункт №5</li>
                    <li>Пункт №6</li>
                    <li>Пункт №7</li>
                    <li>Пункт №8</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Тип 3</span></h3>
                <ul class="list_item" style="display: none;">
                    <li> <a>Что то про Наруто</a></li>
                    <li>Пункт №2</li>
                    <li>Пункт №3</li>
                    <li>Пункт №4</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Тип 4</span></h3>
                <ul class="list_item" style="display: none;">
                    <li>Пункт №5</li>
                    <li>Пункт №6</li>
                    <li>Пункт №7</li>
                    <li>Пункт №8</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Тип 5</span></h3>
                <ul class="list_item" style="display: none;">
                    <li> <a>Что то про Наруто</a></li>
                    <li>Пункт №2</li>
                    <li>Пункт №3</li>
                    <li>Пункт №4</li>
                </ul>
            </div>
            <div class="dropdown_menu">
                <h3><span>Тип 6</span></h3>
                <ul class="list_item" style="display: none;">
                    <li>Пункт №5</li>
                    <li>Пункт №6</li>
                    <li>Пункт №7</li>
                    <li>Пункт №8</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 ">
            <div class="center-block">
                <h2>Followers activity</h2>
                @{
                    foreach (var image in ArtAlbum.UI.Web.Models.ImageVM.GetAllImages())
                    {


                        if (x == 6)
                        {
                            break;
                        }
                        x += 1;
                        <div class="col-md-4">
                                <div class="block" href="#@image.Id">
                                    <a href="#@image.Id">
                                        <img src="@Url.Action("GetImage", "Images", new { id = image.Id })" class="img-responsive">
                                    </a>
                                </div>
                            <a href="#x" class="overlay" id="@image.Id"></a>
                            <div class="popup">
                                <div class="top_image">
                                    <img src="@Url.Action("GetImage", "Images", new { id = image.Id })" />
                                </div>
                                <h2>@image.Description</h2>
                                <p>
                                    Я пока не придумал как это должно выглядеть.
                                </p>
                                <a class="close" title="Закрыть" href="#close"></a>
                            </div>
                        </div>

                    }
                }

            </div>
        </div>
        <div id="tags" class="col-xs-12 col-sm-12 col-md-2">
            <h2 class="Header">Tags</h2>


            <h3><a href="#">#cool</a></h3>


            <h3><a href="#">#cool</a></h3>
            <h3><a href="#">#cool</a></h3>
            <h3><a href="#">#cool</a></h3>
            <h3><a href="#">#cool</a></h3>
        </div>
    </div>


</div>
<!-- /Section: types art and followers activity -->
<!-- Section: works -->
<section id="works" class="home-section text-center bg-gray">
    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Recent Works</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div>
                    @Html.Action("ShowImages", "Images", new { images = ViewBag.ImagesRecent })
                </div>

            </div>
        </div>
    </div>
</section>



@section scripts{

    <script src="~/Scripts/AjaxScript.js"></script>
}