@model IEnumerable<ArtAlbum.UI.Web.Models.ImageVM>

@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    System.Int32 x;
    x = 0;
}

@*<h2>Изображения</h2>
    @Html.ActionLink("Register", "Register", "Register")*@




<div class="container">

    <div class="row" style="margin-top:100px;">


        <div id="tags" class="col-xs-12  col-md-3 ">
            <h2 class="Header">Тэги</h2>

            @foreach (var tagName in ViewBag.TopTags)
            {
                <h3><a href="@Url.Action("Search", "Home", new { searchQuery = "", tagsData = tagName, typeOfRequest="images" })">#@tagName</a></h3>
            }
        </div>
        @{
            <div  class="col-xs-12 col-sm-6 col-md-8  ">
                <div class="center-block">
                    <h2> @Html.ActionLink("Активность ваших подписок", "ShowImagesPage", "Images", new { typeofrequest = "ShowImageOfFollowers" }, null)</h2>
                    @if (ViewBag.ImagesOfSubscriptions == null)
                    {
                        <span>Вы не вошли, чтобы просматривать этот раздел</span>
                    }
                    else if (ViewBag.ImagesOfSubscriptions.Count == 0)
                    {
                        <span>Пока здесь ничего нет</span>
                    }
                    else
                    {
                        @Html.Action("ShowSmallImages", "Images", new { images = ViewBag.ImagesOfSubscriptions })
                        
                    }
                </div>
            </div>
        }
       
    </div>


</div>


    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div id="main-images" class="col-sm-12 col-md-12 col-lg-12">
                <div class="section-heading">
                    <h2>Недавние работы</h2>
                </div>
                <div>
                    @Html.Action("ShowImages", "Images", new { images = ViewBag.ImagesRecent })
                </div>

            </div>
        </div>
    </div>




@section scripts{

    <script src="~/Scripts/AjaxScript.js"></script>
}