@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">

    <div class="row" style="margin-top:100px;">


        <div id="tags" class="col-xs-12 col-sm-5  col-md-3 ">
            <h2 class="Header">Топ теги</h2>

            @foreach (var tagName in ViewBag.TopTags)
            {
                <h3><a href="@Url.Action("Search", "Home", new { searchQuery = "", tagsData = tagName, typeOfRequest = "images" })">#@tagName</a></h3>
            }
        </div>
        @{
            <div  class="bl col-xs-12 col-sm-7 col-md-8 col-lg-9  ">
                <div id="favorite-images" class="center-block">
                    <h2><a href="@Url.Action("ListImages", "Images", new { nameOfList = "Активность ваших подписок" })">Активность ваших подписок</a></h2>
                    @if (ViewBag.ImagesOfSubscriptions == null)
                    {
                        <span>Вы не вошли, чтобы просматривать этот раздел</span>
                    }
                    else if (ViewBag.ImagesOfSubscriptions.Count == 0)
                    {
                        <span>Пока здесь ничего нет</span>
                    }
                    else
                    {
                        @Html.Action("ShowSmallImages", "Images", new { images = ViewBag.ImagesOfSubscriptions })

                    }
                </div>
            </div>
            }

    </div>


</div>
            


    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            @*<div id="voting-leaders" class="col-sm-12 col-md-12 col-lg-12">
                <div class="section-heading">
                    <h2>Лидеры голосования</h2>

                </div>
                <div>
                    <div class="col-md-4">
                        
                        <div class="block">
                            <h4>Первое место</h4>
                            <a class="show-image" data-toggle="modal" data-target="#477e1300-2429-4c2f-9015-613459eb3cd5">
                                @*<img src="/Images/GetResizedImage/477e1300-2429-4c2f-9015-613459eb3cd5?newWidth=250&amp;maxHeight=250" class="img-responsive">
                            </a>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="477e1300-2429-4c2f-9015-613459eb3cd5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">

                                <a class="nivo-lightbox-next" data-target="#3344c2b3-047a-42f7-a155-1e28ad7ec83d" style="display: inline;" value="#477e1300-2429-4c2f-9015-613459eb3cd5" name="nextimage"></a>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>

                                </div>
                                <div class="modal-content">

                                    <div class="row">
                                        <div class="col-md-8">

                                            <div class="top_image">

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="username">
                                                        <div class="reply_image">

                                                            <a href="/Users/GetUser?nickname=FirstUser">
                                                                <img src="/Users/GetAvatar?userId=8cf8da09-0a62-4f06-83fd-2d40ecc235b7" class="reply_img">
                                                            </a>
                                                        </div>
                                                        <h4><a href="/Users/GetUser?nickname=FirstUser">FirstUser</a><span id="Nicknameicon" class="glyphicon glyphicon-ok-circle fa-1x" aria-hidden="true"></span></h4>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="description">
                                                        <h5>Нет описания</h5>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">

                                                    <a class="like" value="477e1300-2429-4c2f-9015-613459eb3cd5"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><p class="like-status">Нравится</p></a>


                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="tags">

                                                        <div style="overflow: hidden;">

                                                            <div style="width: 1000%;">
                                                                <h5 style="width: 40px;float: left;margin-top: 8px;">Теги:</h5>
                                                                <div class="tag"><a href="/Home/Search?tagsData=%D0%BF%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D0%B0&amp;typeOfRequest=images">#природа</a></div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">

                                                    <div class="comments">
                                                        <ul></ul>
                                                    </div>



                                                    <div class="addcomment">
                                                        <form action="handler.php">
                                                            <p><b>Введите ваш Комментарий:</b></p>
                                                            <input style="width: 250px;height: 35px; display:initial" type="text" class="commentText" name="searchQuery">
                                                            <input class="btn btn-default submit" style="margin-top: -2px;" type="submit" id="477e1300-2429-4c2f-9015-613459eb3cd5submit" value="Готово">
                                                        </form>
                                                    </div>



                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="delete-image">


                                                        <a class="delete" href="/Images/Delete?imageId=477e1300-2429-4c2f-9015-613459eb3cd5">Удалить изображение</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block">
                            <h4>Второе место</h4>
                            <a class="show-image" data-toggle="modal" data-target="#3344c2b3-047a-42f7-a155-1e28ad7ec83d">
                                <img src="/Images/GetResizedImage/3344c2b3-047a-42f7-a155-1e28ad7ec83d?newWidth=250&amp;maxHeight=250" class="img-responsive">
                            </a>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="3344c2b3-047a-42f7-a155-1e28ad7ec83d" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">

                                <a class="nivo-lightbox-next" data-target="#12e35e7b-faee-41dc-b3fc-2e0d444dc825" style="display: inline;" value="#3344c2b3-047a-42f7-a155-1e28ad7ec83d" name="nextimage"></a>
                                <a class="nivo-lightbox-prev" data-target="#477e1300-2429-4c2f-9015-613459eb3cd5" style="display: inline;" value="#3344c2b3-047a-42f7-a155-1e28ad7ec83d" name="previmage"></a>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>

                                </div>
                                <div class="modal-content">

                                    <div class="row">
                                        <div class="col-md-8">

                                            <div class="top_image">

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="username">
                                                        <div class="reply_image">

                                                            <a href="/Users/GetUser?nickname=FirstUser">
                                                                <img src="/Users/GetAvatar?userId=8cf8da09-0a62-4f06-83fd-2d40ecc235b7" class="reply_img">
                                                            </a>
                                                        </div>
                                                        <h4><a href="/Users/GetUser?nickname=FirstUser">FirstUser</a><span id="Nicknameicon" class="glyphicon glyphicon-ok-circle fa-1x" aria-hidden="true"></span></h4>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="description">
                                                        <h5>Зенит ET Kodak color+</h5>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">

                                                    <a class="like" value="3344c2b3-047a-42f7-a155-1e28ad7ec83d"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><p class="like-status">Нравится</p></a>


                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="tags">

                                                        <div style="overflow: hidden;">

                                                            <div style="width: 1000%;">
                                                                <h5 style="width: 40px;float: left;margin-top: 8px;">Теги:</h5>
                                                                <div class="tag"><a href="/Home/Search?tagsData=zenit&amp;typeOfRequest=images">#zenit</a></div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">

                                                    <div class="comments">
                                                        <ul></ul>
                                                    </div>



                                                    <div class="addcomment">
                                                        <form action="handler.php">
                                                            <p><b>Введите ваш Комментарий:</b></p>
                                                            <input style="width: 250px;height: 35px; display:initial" type="text" class="commentText" name="searchQuery">
                                                            <input class="btn btn-default submit" style="margin-top: -2px;" type="submit" id="3344c2b3-047a-42f7-a155-1e28ad7ec83dsubmit" value="Готово">
                                                        </form>
                                                    </div>



                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="delete-image">


                                                        <a class="delete" href="/Images/Delete?imageId=3344c2b3-047a-42f7-a155-1e28ad7ec83d">Удалить изображение</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block">
                            <h4>Третье место</h4>
                            <a class="show-image" data-toggle="modal" data-target="#12e35e7b-faee-41dc-b3fc-2e0d444dc825">
                                <img src="/Images/GetResizedImage/12e35e7b-faee-41dc-b3fc-2e0d444dc825?newWidth=250&amp;maxHeight=250" class="img-responsive">
                            </a>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="12e35e7b-faee-41dc-b3fc-2e0d444dc825" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">

                                <a class="nivo-lightbox-prev" data-target="#3344c2b3-047a-42f7-a155-1e28ad7ec83d" style="display: inline;" value="#12e35e7b-faee-41dc-b3fc-2e0d444dc825" name="previmage"></a>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>

                                </div>
                                <div class="modal-content">

                                    <div class="row">
                                        <div class="col-md-8">

                                            <div class="top_image">

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="username">
                                                        <div class="reply_image">

                                                            <a href="/Users/GetUser?nickname=FirstUser">
                                                                <img src="/Users/GetAvatar?userId=8cf8da09-0a62-4f06-83fd-2d40ecc235b7" class="reply_img">
                                                            </a>
                                                        </div>
                                                        <h4><a href="/Users/GetUser?nickname=FirstUser">FirstUser</a><span id="Nicknameicon" class="glyphicon glyphicon-ok-circle fa-1x" aria-hidden="true"></span></h4>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="description">
                                                        <h5>Зенит ET Kodak color+</h5>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">

                                                    <a class="like" value="12e35e7b-faee-41dc-b3fc-2e0d444dc825"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><p class="like-status">Нравится</p></a>


                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="tags">

                                                        <div style="overflow: hidden;">

                                                            <div style="width: 1000%;">
                                                                <h5 style="width: 40px;float: left;margin-top: 8px;">Теги:</h5>
                                                                <div class="tag"><a href="/Home/Search?tagsData=zenit&amp;typeOfRequest=images">#zenit</a></div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">

                                                    <div class="comments">
                                                        <ul></ul>
                                                    </div>



                                                    <div class="addcomment">
                                                        <form action="handler.php">
                                                            <p><b>Введите ваш Комментарий:</b></p>
                                                            <input style="width: 250px;height: 35px; display:initial" type="text" class="commentText" name="searchQuery">
                                                            <input class="btn btn-default submit" style="margin-top: -2px;" type="submit" id="12e35e7b-faee-41dc-b3fc-2e0d444dc825submit" value="Готово">
                                                        </form>
                                                    </div>



                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="delete-image">


                                                        <a class="delete" href="/Images/Delete?imageId=12e35e7b-faee-41dc-b3fc-2e0d444dc825">Удалить изображение</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="row">
            <div style="width: 98%;" id="main-images" class="col-sm-12 col-md-12 col-lg-12">
                <div class="section-heading">
                    <h2><a href="@Url.Action("ListImages", "Images", new { images = ViewBag.ImagesRecentAll, nameOfList = "Недавние работы" })">Недавние работы</a></h2>
                </div>
                <div>
                    @Html.Action("ShowImages", "Images", new { images = ViewBag.ImagesRecentPart.ToArray() })
                </div>

            </div>
        </div>
    </div>




@section scripts{

    <script src="~/Scripts/AjaxScript.js"></script>
}