
@{
    ViewBag.Title = "Поиск";
}

<h2>Поиск</h2>
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <div class="search-inputs ">
        <div class="container">
            <div class="row">
                <h1 class="standard-h1">Поиск по сайту</h1>
                <div style="margin-left:30px;" class="col-md7">

                   
                    
                    
                    <div  class="form-element search-input">
                        <label for="search">Описание:</label>
                        <input  class="form-control" type="text" id="searchQuery" name="searchQuery" placeholder="Введите слово или фразу из описания" disabled />
                    </div>

                    <div class="form-element search-input">
                        <label for="search">Теги:</label>
                        <input  class="form-control" type="text" id="tagsData" name="tagsData" placeholder="Введите теги  через  пробелы" disabled />
                    </div>
                    <div class="form-element search-input">
                        <label for="search">Никнейм :</label>
                        <input class="form-control" type="text" id="searchQuery" name="userData" placeholder="Введите никнейм частично или полностью" disabled />
                    </div>
                   
                    
                    <label class="radio-inline"><input type="radio" name="typeOfRequest" value="images" >Поиск изображения</label>
                    <label class="radio-inline"><input type="radio" name="typeOfRequest" value="users">Поиск пользователя</label>
                    <div class="form-element">
                        
                           <input type="submit" class="btn btn-primary" value="Поиск">
                        
                    </div>
                </div>
            </div>
        </div>

        
        
       
    </div>
}
@{
    if (ViewBag.ImagesSearch != null)
    {
        <div class="container">
            <div class="row">
                <div id="main-images" class="col-sm-12 col-md-12 col-lg-12">
                    <div class="section-heading">
                        <h2>Результаты поиска</h2>
                    </div>
                    <div>
                        @Html.Action("ShowImages", "Images", new { images = ViewBag.ImagesSearch })
                    </div>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.UsersSearch != null)
    {
        <ol class="user-list">
            <div class="section-heading">
                <h2>Результаты поиска</h2>
            </div>
            @foreach (var item in ViewBag.UsersSearch)
            {
                <li>
                    <div class="user-list-item col-md-9">
                        <div class="reply_image">
                            <a href="@Url.Action("GetUser","Users" ,new {nickname =item.Nickname})">
                                <img src="@Url.Action("GetAvatar", "Users", new { userId = item.Id })" class="reply_img">
                            </a>
                        </div>
                        <p><a href="@Url.Action("GetUser","Users" ,new {nickname =item.Nickname})">@item.Nickname</a>  </p>
                    </div>
                    <br />
                    <hr />
                </li>
            }
        </ol>
    }
    else
    {
        <p>Ничего не найдено</p>
    }
}

@section searchscript{
    
<script src="~/Scripts/SeachScript.js"></script>
    }