@model IEnumerable<ArtAlbum.UI.Web.Models.UserVM>


@{
    ViewBag.Title = "Мои подписчики";
}

<h2>GetSubscribes</h2>

<p>
    <a style="margin-left:10px;" href="@Url.Action("UserProfile", "Users")" class="button7">Назад к личной странице</a>
</p>
<ol class="user-list">
    @foreach (var item in Model)
    {
        <li >
            <div class="user-list-item col-md-9">
                <div class="reply_image">
                    <a href="@Url.Action("GetUser","Users" ,new {nickname =item.Nickname})">
                        <img src="@Url.Action("GetAvatar", "Users", new { userId = item.Id })" class="reply_img">
                    </a>
                </div>
                <p><a href="@Url.Action("GetUser","Users" ,new {nickname =item.Nickname})">@Html.DisplayFor(modelItem => item.Nickname)</a>  </p>
            </div>
            <br />
            <hr />
        </li>




    }


</ol>
@if (Model == null || Model.Count() == 0)
{
    <p>Пока что на вас никто не подписался</p>
}