@model IEnumerable<ArtAlbum.UI.Web.Models.UserVM>


@{
    ViewBag.Title = "GetSubscribes";
}

<h2>GetSubscribes</h2>

<ol class="user-list">
    @foreach (var item in Model)
    {
        <li >

            <div class="user-list-item col-md-9">
                <div class="reply_image">
                    <a href="/id337666144">
                        <img src="@Url.Action("GetAvatar", "Users", new { userId = item.Id })" class="reply_img">
                    </a>
                </div>
                <p><a href="@Url.Action("GetUser","Users" ,new {nickname =item.Nickname})">@Html.DisplayFor(modelItem => item.Nickname)</a>  </p>


                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@


            </div>
            <br />
            <hr />
        </li>




    }


</ol>