
@{
    ViewBag.Title = "Страница пользователя " + ViewBag.Nickname;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@functions {
    string GetSubscribeState()
    {
        Guid currentUserId = ArtAlbum.UI.Web.Models.UserVM.GetUserIdByNickname(User.Identity.Name);
        foreach (var subscription in ArtAlbum.UI.Web.Models.UserVM.GetSubscribtionsByUserId(currentUserId))
        {
            if (subscription.Id == ViewBag.UserId)
            {
                return "Отписаться";
            }
        }
        return "Подписаться";
    }
}
<div id="userid" style="display:none">@ViewBag.UserId</div>



<div class="user-page">
    <div class="row">
        


        <div id="main-info" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">

            <div id="first-user-block" class="row">

                <div class="col-md-8" style="margin: 0 auto;">
                    <h2 id="nickname">@ViewBag.Nickname <span id="Nicknameicon" class="glyphicon glyphicon-ok-circle fa-1x" aria-hidden="true"></span></h2>
                    <a></a>
                    @*<a href="~/Content/img/works/1.jpg" data-lightbox-gallery="gallery1">

                    </a>*@
                    <img style="margin-left:25px" width="200" height="200" src="@Url.Action("GetAvatar", "Users", new { userId = ViewBag.UserId })" />
                    <br />
                    <br />
                    <br />
                    <a class="button7" id="subscribe-btn">@GetSubscribeState()</a>
                    <br />
                    <br />
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("DeleteUser", "Administration", new { userId = ViewBag.UserId })">Удалить пользователя</a>
                        @*<button href="@Url.Action("Delete", "Images", new { imageId = list[i].Id })" class="delete">Удалить фотографию</button>*@
                    }
                </div>
            </div>

            <div class="row">
                <div id="user-date">

                    <div class="col-xs-11 col-md-3">
                        <div id="second-user-block">
                            <br />
                            <div class="subscribers">
                                <h5><a href="@Url.Action("GetSubscribers", "Users", new { userId = ViewBag.UserId })">@ViewBag.CountOfSubscribers подписчиков</a></h5>
                            </div>
                            <br />

                            <div class="subscribtions">
                                <h5><a href="@Url.Action("GetSubscribtions", "Users", new { userId = ViewBag.UserId })">@ViewBag.CountOfSubscribtions подпискок</a></h5>

                            </div>

                            <br />

                            <a class="button7" data-toggle="modal" data-target="#user-info">Показать информацию</a>
                            <div class="modal fade" id="user-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="user-date-item">
                                            <h4>Имя</h4>
                                            <p>@ViewBag.FirstUserName</p>
                                        </div>
                                        <div class="user-date-item">
                                            <h4>Фамилия</h4>
                                            <p>@ViewBag.LastUserName</p>
                                        </div>
                                        <div class="user-date-item">
                                            <h4>Возраст</h4>
                                            <p>@ViewBag.UserAge</p>
                                        </div>
                                        <div class="user-date-item">
                                            <h4>Число публикаций</h4>
                                            <p>@ViewBag.CountOfPublications</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        
                
        



        </div>
        <div class="col-xs-11 col-md-8 col-lg-9 ">
            <div id="favorite-images">
                <h2><a href="@Url.Action("ListImages", "Images", new { nameOfList = "Любимые изображения пользователя", userId = ViewBag.UserId.ToString() })">Любимые изображения</a></h2>
                <div>
                    @Html.Action("ShowSmallImages", "Images", new { images = ViewBag.LikedImages })
                </div>
            </div>
        </div>
</div>
<br />



<div class="container">

    <div class="row">
        <div id="main-images" class="col-xs-11 col-md-12 col-lg-12">
            <h2><a href="@Url.Action("ListImages", "Images", new { nameOfList = "Изображения пользователя", userId = ViewBag.UserId.ToString() })">Изображения пользователя</a></h2>
            <div>
                @Html.Action("ShowImages", "Images", new { images = ViewBag.ImagesOfUser })
            </div>

        </div>
    </div>
</div>



    </div>

@section scripts{

    <script src="~/Scripts/AjaxScript.js"></script>
}