
@{
    ViewBag.Title = "Страница пользователя " + ViewBag.Nickname;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@functions {
    string GetSubscribeState()
    {
        Guid currentUserId = ArtAlbum.UI.Web.Models.UserVM.GetUserIdByNickname(User.Identity.Name);
        foreach (var subscription in ArtAlbum.UI.Web.Models.UserVM.GetSubscribtionsByUserId(currentUserId))
        {
            if (subscription.Id == ViewBag.UserId)
            {
                return "Отписаться";
            }
        }
        return "Подписаться";
    }
}
<div id="userid" style="display:none">@ViewBag.UserId</div>



<div class="user-page">
    <div class="row">
        


        <div id="main-info" class="col-xs-11 col-sm-3 col-md-3">

            <div id="first-user-block" class="row">

                <div class="col-md-8" style="margin: 0 auto;">
                    <h2 id="nickname">@ViewBag.Nickname</h2>
                    <a></a>
                    @*<a href="~/Content/img/works/1.jpg" data-lightbox-gallery="gallery1">

                    </a>*@
                    <img width="200" height="200" src="@Url.Action("GetAvatar", "Users", new { userId = ViewBag.UserId })" />
                    <br />
                    <br />
                    <br />
                    <a class="button7" id="subscribe-btn">@GetSubscribeState()</a>
                    <br />
                    <button href="#" class="delete">Удалить страницу</button>
                </div>
            </div>

            <div class="row">
                <div id="user-date">
                    
                    <div class="col-xs-11 col-md-3" style="margin: 0 auto;">
                        <div id="second-user-block">
                            <h4>Число публикаций:4</h4>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Показать информацию</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="user-date-item">
                                            <h4>Имя</h4>
                                            <p>Роман</p>
                                        </div>
                                        <div class="user-date-item">
                                            <h4>Фамилия</h4>
                                            <p>Алексеевич</p>
                                        </div>
                                        <div class="user-date-item">
                                            <h4>Дата рождения</h4>
                                            <p>Роман</p>
                                        </div>
                                        <div class="user-date-item">
                                            <h4>Число публикаций</h4>
                                            <p>Роман</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        
                
        



        </div>
        <div class="col-xs-11 col-md-9 ">
            <div id="favorite-images">
                <h2><a href="@Url.Action("ShowImagesPage", "Images", new { typeofrequest = ViewBag.UserId })">Любимые изображения</a></h2>
                <div>
                    @Html.Action("ShowSmallImages", "Images", new { images = ViewBag.LikedImages })
                </div>
            </div>
        </div>
</div>
<br />



<div class="container">

    <div class="row">
        <div id="main-images" class="col-xs-11 col-md-12 col-lg-12">
            <h2>Мои изображения</h2>
            <div>
                @Html.Action("ShowImages", "Images", new { images = ViewBag.ImagesOfUser })
            </div>

        </div>
    </div>
</div>





@section scripts{

    <script src="~/Scripts/AjaxScript.js"></script>
}