@model ArtAlbum.UI.Web.Models.RegisterVM

@{
    ViewBag.Title = "Настройки";
}

<h2>Settings</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">

        <div class="settings">


            <div class="row">

                <div class="col-md-offset-3 col-xs-12">
                    <div class="form-horizontal">
                        <div id="header">


                            <div class="form-group">

                                <h2>Настройки</h2>

                            </div>
                        </div>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Nickname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Текущий пароль</label>
                            <div class="col-md-8">
                                <input class="form-control" name="password" type="password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>

                        <div class="form-group" style="margin-left:50px;">
                            <div class="col-md-5 " style="height:50px;">
                                <a class="button7" style="margin-left: 0px;" href="@Url.Action("ChangeAvatar", "Users")">Сменить аватар</a>
                            </div>
                            <div class="col-md-5 " style="height:50px;">
                                <a class="button7" style="margin-left: 0px;" href="@Url.Action("ChangePassword", "Users")">Сменить пароль</a>
                            </div>
                           
                            
                           


                        </div>
                        <hr />
                        <div class="form-group">
                           
                            <div class="col-md-offset-3 " style="height:50px;">
                                <a class="button7" style="margin-left:40px;" href="@Url.Action("Delete", "Users")">Удалить профиль</a>
                            </div>
                        </div>

                            @if (ViewBag.isUpdate != null && ViewBag.isUpdate)
                            {
                                <p>Изменения сохранены</p>
                            }
                            else if (ViewBag.isUpdate != null && !ViewBag.isUpdate)
                            {
                                <p>Неверный пароль</p>
                            }




                        <div class="show-userpage">
                            @Html.ActionLink("Вернуться на личную страницу", "UserProfile", "Users")
                        </div>
                        </div>



                </div>
            </div>
        </div>
    </div>
}