
@{
    ViewBag.Title = "Мой профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<div class="user-page">
    <div class="row">
       

            <div id="main info" class="col-xs-12 col-sm-12 col-md-3">
                <div id="first-user-block" class="row">
                    

    <div  >
        <h2 id="username">@ViewBag.Nickname</h2>
        @*<a href="~/Content/img/works/1.jpg" data-lightbox-gallery="gallery1">

            </a>*@
        <img style="margin-left:25px;" width="200" height="200" src="@Url.Action("GetAvatar", "Users", new { userId = ViewBag.Id })" />
    </div>

                        <div style="height: 100px;">
                            <a href="@Url.Action("GetUser", "Users", new { nickname = "user"})">Link</a>

                            <div class="addimage">
                                <br />
                                <a class="button7" data-toggle="modal" data-target="#loadimage"><span class="glyphicon glyphicon-file"></span>Загрузить фото</a>





                                <!-- Modal -->
                                <div class="modal fade" id="loadimage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div id="upload-model" class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form method="post" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="content">

                                                            <!-- Область для перетаскивания -->
                                                            <div id="drop-files" ondragover="return false">
                                                                <div class="input-btn">
                                                                    <p>Перетащите изображение сюда или выберете файл</p>

                                                                    <input name="dataImage" type="file" id="uploadbtn" multiple="">

                                                                </div>




                                                            </div>
                                                            <br />
                                                            <b>Описание</b> 
                                                            <label id="description" class="input-group">
                                                              
                                                                <input  class="form-control" placeholder="Введите описание к изображению" name="Description" type="text" />
                                                            </label>
                                                            <b>Теги:</b> 
                                                            <label id="description" class="input-group">
                                                               
                                                                <input class="form-control" placeholder="Введите теги через пробел" name="tagsData" type="text" />
                                                            </label>
                                                            <!-- Область предпросмотра -->
                                                            <div id="uploaded-holder">
                                                                <div id="dropped-files">

                                                                    <div id="upload-button">
                                                                        <center>

                                                                            <button class="button15">Загрузить</button>
                                                                            <button class="delete">Удалить</button>
                                                                            <!-- Прогресс бар загрузки -->

                                                                        </center>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Список загруженных файлов -->
                                                            <div id="file-name-holder">
                                                                <ul id="uploaded-files" style="display: none;"></ul>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="btn-settings">



                                <a class="button7" href=@Url.Action("Settings", "Users")><i class="glyphicon glyphicon-cog"></i>Редактировать</a>
                            </div>
                        
                    </div>
                  
                    <br />


                        <br />



                    <br />

                </div>
                

                <div class="row">
                    <div id="user-date">

                        <div class="col-xs-11 col-md-3" style="margin: 0 auto;">
                            <div id="second-user-block">
                                <br />
                                <div class="subscribers">
                                   <h5><a href="@Url.Action("GetSubscribers", "Users", new { userId = ViewBag.Id })">@ViewBag.CountOfSubscribers подписчиков</a></h5>
                                </div>
                                <br />
                               
                                <div class="subscribtions">
                                   <h5><a href="@Url.Action("GetSubscribtions", "Users", new { userId = ViewBag.Id })">@ViewBag.CountOfSubscribtions подпискок</a></h5>
                                    
                                </div>
                                
                                <br />
                               
                                <a class="button7" data-toggle="modal" data-target="#user-info">Показать информацию</a>
                                <div class="modal fade" id="user-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="user-date-item">
                                                <h4>Имя</h4>
                                                <p>@ViewBag.FirstUserName</p>
                                            </div>
                                            <div class="user-date-item">
                                                <h4>Фамилия</h4>
                                                <p>@ViewBag.LastUserName</p>
                                            </div>
                                            <div class="user-date-item">
                                                <h4>Возраст</h4>
                                                <p>@ViewBag.UserAge</p>
                                            </div>
                                            <div class="user-date-item">
                                                <h4>Число публикаций</h4>
                                                <p>@ViewBag.CountOfPublications</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-xs-11 col-md-9 ">
                <div id="favorite-images">
                    <h2 ><a href="@Url.Action("ShowImagesPage", "Images", new { typeofrequest = "ShowFavoriteImage" })">Любимые изображения</a> </h2>
                    <div>
                        @Html.Action("ShowSmallImages", "Images", new { images = ViewBag.LikedImages })
                    </div>

                </div>
                </div>
        
    </div>
</div>
<br />



<div class="container">

    <div class="row">
        <div id="main-images" class="col-xs-11 col-md-12 col-lg-12">
            <h2>Мои изображения</h2>
            <div>
                @Html.Action("ShowImages", "Images", new { images = ViewBag.ImagesOfUser })
            </div>

        </div>
    </div>
</div>
@*<h2>Добавить изображение</h2>*@
@*<form method="post" enctype="multipart/form-data">
        <label>
            Описание
            <input name="Description" type="text" />
        </label>
        <label>
            Загрузить изображение
            <input name="dataImage" type="file" />
        </label>
        <button>Добавить</button>
    </form>*@


@section scripts{

    <script src="~/Scripts/AjaxScript.js"></script>
}