@model IEnumerable<ArtAlbum.UI.Web.Models.QuestionVM>


@{
    ViewBag.Title = "QuestionsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions{
    ArtAlbum.UI.Web.Models.UserVM GetAuthor(Guid questionId)
    {
        return ArtAlbum.UI.Web.Models.QuestionVM.GetAuthorByQuestionId(questionId);
    }
}

<h2>QuestionsPage</h2>

<div class="questionspage">
    <h2>Вопросы и ответы</h2>
    <a class="ask-question" href="@Url.Action("CreateQuestion", "Questions")"><h3>Задать вопрос</h3></a>
    <ul class="questions">
        @foreach (var question in Model)
        {
            <li class="question">
                <a href="@Url.Action("AnswersPage", "Questions", new { questionId = question.Id })">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="authorimage"></div>
                        </div>
                        <div class="col-md-2">
                            <div class="Nickname"><h4>Автор: @GetAuthor(question.Id).Nickname</h4></div>
                        </div>
                        <div class="col-md-5">
                            <div class="date-of-creating-question"><h4>Дата создания вопроса: @question.DateOfCreating</h4></div>
                        </div>
                        <div class="col-md-3">
                            <span id="icon1" class="glyphicon glyphicon-comment fa-3x" aria-hidden="true"></span>

                            <div class="number-of-answers"><h4>Колличество ответов на вопрос:</h4> <br /><h3>4</h3> </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">

                                <div class="caption-of-question"><h2>@question.Caption</h2></div>
                            </div>
                        </div>
                    </div>

                </a>
            </li>
        }
    </ul>
</div>